.root {
    -header-bar-color: #274979;
    -side-panel-color: #3C5079;
    -small-box-color: #6B7CAD;
    -gray-accent: #8690A9;
    -white-accent: #E2E3EB;
    -basic-white: #FFFFFF;
}

.header-bar {
    -fx-background-color: -header-bar-color;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 0, 2);
}

.app-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: -basic-white;
}

.empty-state {

}

.left-control-panel {
    -fx-background-color: -side-panel-color;
}

.right-control-panel {
    -fx-background-color: -side-panel-color;
}

.node-display {
    -fx-border-color: -small-box-color;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.footer {
    -fx-font-size: 12px;
    -fx-text-fill: -basic-white;
}

.button {
    -fx-font-size: 16px;
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: -basic-white;
}

.dialog-label {
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
}
